---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = 'ホームページ';
---

<BaseLayout pageTitle={pageTitle}>
    <h2>ここは、私のAstroサイトのホームページです。</h2>
</BaseLayout>